@import"/style.css";

@media screen and (max-device-width: 430px) {
    *{
        padding: 0;
        margin: 0;
    }
   body{
       width: 100%;
       height: 522px;
   }
    .contacts a img{
        position: relative;
        width: 20px;
        right: -39px;
         top: 6px;
    }
    header .logo{
        width: 63px;
        position: relative;
        right: 21px;
        top: 7px;
        opacity: 1;
    }
.carousel-item{
    width: 100%;
    height: auto;
}
.contacts {
    width: 100%;
    position: relative;
    right: -18px;
}
img.vector-face{
width: 17%;
}
.vector-welcome {
    margin-top: 5%;
    width: 84%;
}
.vector, .vectorMin, .line{
    display: none;
}
.image_img {
    width: 100%;
    height: 522px;
    object-fit: cover;
}
.image h1{
    font-size: 29px;
    width: 290px;
    height: 34px;
    text-align: center;
    position: relative;
    top: -311px;
    left: 0px;
}
.image p{
    width: 364px;
    height: 112px;
    font-size: 16px;
    position: relative;
    top: -316px;
}

.bigNumbers {
    gap: 17%;
    margin-top: 8%;
}
.numberContent {
    width: 37%;
    margin: 0 0 5% 0;
}
.ourTeam h1{
    width: 231px;
    height: 34px;
    font-size: 29px;
}
.teamBlocks{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 31px;
}
.blockTeam{
    width: 135px;
    height: 134px;
    margin-bottom: 22px;
}
.blockTeam p {
    position: relative;
    top: -13px;
    right: 0px;
    font-size: 13px;
}
.photoTeam{
    width: 100%;
    height: 100%;
}
.ourTeam {
    margin-top: -7px;
}
.ourTeam img{
    margin-top: 0px;
}
.instIcon{
    position: absolute;
    top: 91px;
    left: 56px;
}
button.ourTeam{
    width: 90px;
    font-size: 10px;
    position: absolute;
    top: 165px;
    left: 26px;
}
.galleryBlock{
    margin-top: 5px;
}
.galleryBlock h1{
    margin-top: 50px;
    width: 118px;
    height: 34px;
    font-size: 29px;
    margin-top: 5px;
}
.containersFlex{
    width: 100%;
    height: 439px;
    gap: 3%;
}
.div1, .div3{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.div1 .img1{
    width: 177px;
    height: 123px;
  }
  .div1 .img2{
    width: 177px;
    height: 219px;
  }
  .div2 .img1, .div4 .img1{
    width: 257px;
    height: 355px;
  }
  .div3 .img1{
    width: 212px;
    height: 218px;
  }
  .div3 .img2{
    width: 212px;
    height: 123px;
  }
  .containerFlex {
      gap: 10px;
      padding-top: 0px;
    width: 2467px;
    height:388px;
    animation: pulsate 29s infinite alternate;
    }
    @keyframes pulsate {
        0% {transform: translateX(-2300px);}				
          100% {transform: translateX(0px);}
      }
    
      .block5{
          width: 76%;
          display: flex;
          margin: auto;
        height: 1832px;   
     }
      .block5 .services-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .block5 .services-grid .element button {
        position: relative;
        color: black;
        background-color: white;
        top: 304px;
        right: -5px;    
    }
    .block5 .services-grid .element button a{
        text-decoration: none;
        color: black;
    }
    .block5 .services-grid .element .overlay {
        width: 268px;
        height:268px;
    }
    .block5 .services-grid .element.element-show {
        opacity: 1;
        transform: translateY(0%);
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block5 .services-grid .element{
        height: 420px;
        border: none;
        position: relative;
        right: 11px;
    }
    .block5 .services-grid .element .cover {
        position: absolute;
        width: 268px;
        height: 268px;
        margin: 23px;
    }
    .block5 .services-grid .element .overlay {
        width: 268px;
        height: 268px;
        margin: 23px;
    }
    .block5 .services-grid .element .icon {
        width: 65px;
        height: 65px;
        position: absolute;
        top: -86px;
        right: -172px;
    }
    .block5 .services-grid .element .title {
        position: absolute;
        text-align: center;
        width: 67%;
        top: 45%;   
        margin: auto;
        right: 32px;
        z-index: 2;
        font-size: 22px;
        color: #ffffff;
        font-weight: 400;
        }
        .rewiewsBlock {
            width:100%;
    }
    .minim-a{
        width: 80%;
    }
    .rewiewsBlock h1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        text-align: center;
    }
  .rewiewsContentDot {
    position: absolute;
    bottom: 33%;
}
    .mySlides p{
        font-size: 13px;
        line-height: 16px;
        width: 100%;
    }
    .mySlides .client {
        padding-top: 15%;
    }
    .mySlides h4{
        font-size: 18px;
    }
    .rewImg1 {
        left: 0%;
        top: 20%;
        opacity: 0.5;
    }
    .rewImg1 img{
        width: 75%;
    }
    .rewImg2{
        top: 20%;
        left: 76%;
        opacity: 0.5;
    }
    .rewImg5{
        top: 14%;
        left: 33%;
    }
    .rewImg2 img{
        width: 95%;
    }
    .rewImg8, .rewImg4, .rewImg3, .rewImg7,.rewImg9, .rewImg6, .rewLogo{
        display: none;
    }
.block7{
    width: 70%;
    margin: auto;
    margin-top: -150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutUs h1 {
    font-size: 29px;
}
.aboutUs p{
    width: 290px;
    height: 220px;
    font-size: 16px;
    position: relative;
    top: 178px;
}
.block7 button{
    position: relative;
    top: 21%;
}
.slide2 {
    position: relative;
    top: -365px;
}
.carousel-inner .images {
    width:375px;
    height: 189px;
}
.carousel-inner .images.carousel-item.active  .image_img1{
    object-position: 0px -120px;
}
.carousel-inner .images.images.carousel-item .image_img2 {
    object-position: 0px -77px;
}
.block8 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: left;
}
.block8 .pulse {
width: 8px;
height: 8px;
position: relative;
right: 2px;
top: -18px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 21px;
}
.footer-box .footer-line{
    display: none;
}
.pulse {
    position: relative;
    right: 398px;
    top: -25px;
}
.footer-box{
    display: flex;
    flex-direction: column;
    margin-left: -50px;
}
.link-logo{
    width: 134px;
    height: 67px;
    position: relative;
    top: -164px;
    left: 227px;
}
.link-logo img{
    width: 100%;
    height: 100%;
    position: relative;
    right: 35px;
}
.footer-grid{
    display: none;
}
.footer-box .footer-grid {
 display: none;
}
.timeWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-mobile{
    width: 90%;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: row-reverse;
}
.timeWork h5, .location h5{
    font-family: Roboto Condensed;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
}

.copyright{
    position: relative;
    right: -20px;
}
}
