@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    overflow-x: hidden;
}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 255px;
}
header .navigation{
    position: relative;
    padding-left: 70px;
}
header .navigation .navigation-items a{
position: relative;
font-family: 'Montserrat', 'sans-serif';
font-size: 17px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
margin-left: 60px;
}
.contacts{
    display: flex;
    align-items: center;
    gap:35px;
}

header .contacts a{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.navigation-items a{
    text-decoration:none;
    display: inline-block;
    color:#ffffff;
    }
    .navigation-items a:after {
    display: block; 
    content: "";
    height: 3px; 
    width: 0%; 
    background-color: #ffffff; 
    transition: width 0.4s ease-in-out; 
    }
    .navigation-items a:hover:after,
    a:focus:after {
    width: 100%;
    }
@media (max-width:1569px){ 
  
    header .navigation {
        padding-left: 30px
    }
    header .navigation .navigation-items a{
        margin-left:10px ;
    }
}
@media (max-width:1328px) {
    .header{
        width: 70%;
        padding: 10px 150px;
    }
    header .navigation {
        padding-left: 15px
    }
    header .navigation .navigation-items a{
        margin-left:10px ;
    }
    .contacts{
        gap:5px
    }
}
.carousel-item{
    width: 100%;
    height:1078px;
}
.image_img{
    width: 100%;
    height:1078px;
}
.image{  
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.63) -4.35%, rgba(0, 0, 0, 0.07) 106.28%);
    top: 0%;
    left: 0;
    width: 100%;
    height: 1078px;
    color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image h1{
    font-size: 59px;
}
.image p{
    width: 723px;
    height: 92px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    margin-top: 1%;
}
.vector{
    width: 23px;
    position: absolute;
    top: 87.1%;
    right: 50.2%;
    flex: 100%;
}
.vectorMin{
    flex: 100%;
    position: absolute;
    top:87.8%;
    right:50.68%;
    width:5px;
}
.line{
    flex: 100%;
    height: 66px;
    position:absolute;
    top:93%;
    right:50.7% ;
}
.second-container{
    margin-top: 100px;
    display: flex;
}
.second-container-welcome{
    display: flex;
    justify-content: space-between;
}
.div-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 130px;
}
.vector-welcome {
    margin: 6% 0 15% 0;
    display: flex;
    flex-wrap: wrap;
}
.bigNumbers{
    width: 561px;
    height: 576.45px;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}
.numberContent img {
    opacity: 0.5;
}
.numberContent  {
    width: 188px;
    height: 170px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 176px;
    text-align: center;
    opacity: 0;
    transition: scale(0.1);
    transition: all 1s ease-in-out;
}
.numberContent h5{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #E6E6E6;
}
.numberContent p{
    width: 210px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #E6E6E6;
}
 .active1{
    opacity: 1;
    transition-delay: 1s;
    transform: scale(1);
}
.active2{
    opacity: 1;
    transition-delay: 1.5s;
    transform: scale(1);
}
.active3{
    opacity: 1;
    transition-delay: 2s;
    transform: scale(1);
}
.active4{
    opacity: 1;
    transform: scale(1);
    transition-delay: 2.5s;
}
.ourTeam{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E6E6E6;
}
.ourTeam h1{
    font-size: 45px;
}
.teamBlocks{
display: flex;
justify-content: center;
gap: 6%;
width:100%;
height: 100%;
}

.blockTeam{
    width: 265px;
    height: 264px;
    position: relative;
}
.ourTeamImg {
    margin-top: 40px;
    width: 100%; 
    height: 100%;
    border-radius: 7px;
}
.ourTeamImg:hover{
    opacity: 0.2;
}
.instIcon {
    position: absolute;
    bottom:30%;
    left:48%;
    opacity: 0;
}
.photoTeam:hover .instIcon{
opacity: 1;
}
.blockTeam p{
    margin-top:4%;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.galleryBlock{
  width: 100%;
  height: 100%;
  margin-top: 152px;
  display: flex;
 flex-direction: column;
 align-items: center;
}
.galleryBlock h1{
  margin-bottom: 30px;
}
.containersFlex{
  width: 2467px;
  height: 749px;
  display: flex;
  gap: 27px;
}
.containerFlex {
  width: 100%;
  height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
  }
  .photo1, .photo2 {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
  }
 .div1, .div3{
   display: flex;
   flex-direction: column;
   gap: 27px;
 }
.div1 .img1{
  width: 373px;
  height: 260px;
}
.div1 .img2{
  width: 373px;
  height: 462px;
}
.div2 .img1, .div4 .img1{
  width: 543px;
  height: 749px;
}
.div3 .img1{
  width: 450px;
  height: 462px;
}
.div3 .img2{
  width: 450px;
  height: 260px;
}
.containerFlex {
width: 2467px;
height: 100%;
animation-name: ballmove;
animation-duration: 15s;
animation-iteration-count:infinite;
animation-timing-function: linear;				
animation-fill-mode:forwards;	
}
@keyframes ballmove {
    0% {transform: translateX(-3900px);}				
      100% {transform: translateX(200px);}
  }
  .block5{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 1495px;
      margin-top: 100px;
}
.block5 .services-grid{
    display: grid;
    grid-template-columns: 606px 606px;
    grid-column-gap: 141px;
    grid-row-gap: 40px;
    margin-top: 40px;
    justify-content: center;
}
.block5 .services-grid .element{
    border: 1px solid #545454;
    height: 631px;
}
.block5 .services-grid .element .cover{
    position: absolute;
    width: 560px;
    height: 585px;
    object-fit: cover;
    margin: 23px;
    z-index: 1;
}
.block5 .services-grid .element .overlay{
    position: absolute;
    width: 560px;
    height: 585px;
    margin: 23px;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #545454;
    z-index: 1;
}
.block5 .services-grid .element .icon{
    width: 98px;
    height: 104px;
    position: absolute;
    z-index: 2;
    margin: 192px 254px;
}
.block5 .services-grid .element .title{
    position: absolute;
    z-index: 2;
    width: 606px;
    margin-top: 312px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}
.block5 .services-grid .element button{
    position: absolute;
    z-index: 2;
    margin: 384px 203px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background: none;
    width: 200px;
    height: 60px;
    border: 1px #ffffff solid;
}
.block5 .services-grid .element button:hover{
    background-color: white;
    color: black;
}
